<h1>AM Dev Students</h1>

<ul>
  <% @students.shuffle.each do |stud| %>
  <li>
    <img src="<%= stud.photo_url %>">
    <h3>
      <a href="https://twitter.com/<%= stud.twitter %>">
        <%= stud.name %>
      </a>
    </h3>
  </li>
  <% end %>
</ul>
